.invalid {
    border: 1px solid red;
    background-color: #ffdddd;
}

.hidden {
    display: none;
}

input :invalid {
    border: 1px solid red;
}

input :valid {
    border: 1px solid green;
}
body{
    background-color: rgb(219, 217, 217);
    font-size: 18px;
    font-weight: 500;
}
h1{
    font-size: 70px;
}